
.nutresaLogo img{

    width: 100%;
}
.descripcion{
    background-color: rgba(15, 243, 19, 0.733);
    
}
.cajados{
    background-color: rgba(73, 208, 75, 0.733);
    
}
.parrafodos{
    background-color: seagreen;

}
.iconosRedes{
    background-color: rgba(15, 243, 19, 0.395);
}

.texto{
    background-color:rgb(179, 245, 204);
}

.final{
    background-color: rgb(15, 243, 80);
   
}


